.table_container{
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

.table{   
    margin-top: 20px;   
    height: 400px;
    color: #6a5d5d;
    position: relative;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}
.table tr:nth-of-type(odd){
    background-color: #e6fffa;
}